<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823963573692-mv36tdebio0s8a5i7q5n7emmp1q17nuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823963573692-mv36tdebio0s8a5i7q5n7emmp1q17nuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAQCS0QmnG4-K8hgIcWDrOUBoWYZPsb5lk</string>
	<key>GCM_SENDER_ID</key>
	<string>823963573692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.hudaccommodationApp</string>
	<key>PROJECT_ID</key>
	<string>hud-accomodation-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hud-accomodation-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823963573692:ios:6aeda9f9ac325723dcdfb9</string>
</dict>
</plist>